body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #0077cc;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #0077cc;
  border: none;
  cursor: pointer;
}

main {
  padding: 1rem;
}

section {
  display: none;
}

section.active {
  display: block;
}


footer {
  text-align: center;
  padding: 1rem;
  background-color: #ddd;
}

/*profile*/
.profile-card {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

/*post like and comment*/

.post {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

#postForm textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 0.5rem;
}

.interactions {
  margin-top: 0.5rem;
}

.comments input {
  width: 70%;
}

.comment-list {
  list-style: none;
  padding-left: 0;
}

.comment-list li {
  background-color: #eee;
  margin: 0.2rem 0;
  padding: 0.3rem;
  border-radius: 3px;
}

/*authentication*/
#auth input {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
}
#auth button {
  margin-top: 0.5rem;
}

#pets {
  margin-top: 2rem;
}

.pet-module {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #fff;
}

.pet-module img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
}

.pet-module textarea {
  width: 100%;
  height: 60px;
  margin-top: 0.5rem;
}
